DATABASE_URL="postgresql://user:password@host:5432/central_divas?schema=public"
JWT_SECRET="sua-jwt-secret-key-aqui-mude-em-producao"
CLOUDINARY_CLOUD_NAME="dlb9pxoot"
CLOUDINARY_API_KEY="279426828939248"
CLOUDINARY_API_SECRET="bYWMANNCSxSOYGo6adaxz0E1UCE"
NEXT_PUBLIC_APP_URL="http://localhost:3000"